Pytz_Timezone: "America/Los_Angeles"
Server : False
Building: "ciee"
Entity_File: "fill_this.ent"
Agent_IP: '1.3.3.7:1337'
Start_Date : "2018-5-11 00:00:00"
End_Date : "2018-5-13 00:00:00" # this does not work for the Policies_Evaluator.py, only for CostScript
Zones : ["SouthZone", "NorthZone", "CentralZone", "EastZone"]
Setpoint: [[["00:00", "07:00", 60., 85.], ["07:00", "18:00", 74., 78.], ["18:00", "00:00", 60., 85.]], [["00:00", "00:00", 60, 85]]]
popts : [0.0002, -0.0004, 0.00002, 0.00001, 0.00001, 0.00001, 0.00001] #c1 through c7
kwh : [0.075, 1.25, 0.03] #heat, then cool, then ventilation consumptions

Pricing:
  #First sublist is weekday, second list is weekend
  Energy_Rates: "TOU-Summer" # options are "Server", "NON-TOU-Summer", "NON-TOU-Winter", "TOU-Summer", "TOU-Winter"
  Holiday: False
  DRs : [['2018-5-11', "14:00", "15:00", 0.858]]
  DRs_Expand_Percent : 20
  NON-TOU-Summer: [[["00:00", "00:00", 0.25]], [["00:00", "00:00", 0.25]]]
  NON-TOU-Winter: [[["00:00", "00:00", 0.19]], [["00:00", "00:00", 0.19]]]
  TOU-Summer: [[["00:00", "08:30", 0.21],["08:30", "12:00", 0.24],["12:00", "18:00", 0.26],["18:00", "21:30", 0.24],["21:30", "00:00", 0.21]], [["00:00","00:00",0.21]]]
  TOU-Winter: [[["00:00", "08:30", 0.20],["08:30", "21:30", 0.22],["21:30", "00:00", 0.20]], [["00:00","00:00",0.20]]]